# Dependencias
node_modules/

# Variables de entorno (MUY IMPORTANTE)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de configuración de IDEs
.vscode/
.idea/

# Build / output 
dist/
build/

# Cache
.cache/

# Coverage (testing)
coverage/

# Archivos temporales
*.tmp
*.temp